<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Matrimony</title>
</head>
<body>
<p>WELCOME</p><h1><%= user.pname %></h1><br>
<p>your email is </p><i><%= user.email %></i>
<button onclick="location.href='http://127.0.0.1:8081/logout'" type="button">Logout</button>
</body>
</html>